azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "AS-CrowdStrike-Alerts-Ingestion",
        "description": "This playbook ingests CrowdStrike alerts into a custom Microsoft Sentinel table on a 5-minute schedule.",
        "prerequisites": [
            "1. A Key Vault secret containing the CrowdStrike API client secret",
            "2. The CrowdStrike_Alerts_CL custom table deployed to Log Analytics",
            "3. A Data Collection Endpoint (DCE) deployed",
            "4. A Data Collection Rule (DCR) deployed and linked to the DCE"
        ],
        "postDeployment": [
            "1. Add the Logic App managed identity to Key Vault with 'Key Vault Secrets User' role",
            "2. Add the Logic App managed identity to the DCR with 'Monitoring Metrics Publisher' role",
            "3. Authorize the Azure Monitor Logs API connection"
        ],
        "lastUpdateTime": "2025-01-14T00:00:00Z",
        "support": {
            "tier": "partner"
        },
        "author": {
            "name": "Accelerynt"
        }
    },
    "parameters": {
        "PlaybookName": {
            "type": "string",
            "defaultValue": "AS-CrowdStrike-Alerts-Ingestion",
            "metadata": {
                "description": "Name of the Logic App"
            }
        },
        "KeyVaultName": {
            "type": "string",
            "metadata": {
                "description": "Name of the Key Vault containing the CrowdStrike API client secret"
            }
        },
        "KeyVaultSecretName": {
            "type": "string",
            "defaultValue": "AS-CrowdStrike-Integration-Client-Secret",
            "metadata": {
                "description": "Name of the Key Vault secret containing the CrowdStrike API client secret"
            }
        },
        "CrowdStrikeBaseUrl": {
            "type": "string",
            "defaultValue": "https://api.us-2.crowdstrike.com",
            "metadata": {
                "description": "Base URL for CrowdStrike API (e.g., https://api.us-2.crowdstrike.com, https://api.eu-1.crowdstrike.com)"
            }
        },
        "CrowdStrikeClientId": {
            "type": "string",
            "metadata": {
                "description": "CrowdStrike API client ID"
            }
        },
        "DCELogsIngestionEndpoint": {
            "type": "string",
            "metadata": {
                "description": "Logs Ingestion Endpoint URL from the Data Collection Endpoint (e.g., https://dce-name.region.ingest.monitor.azure.com)"
            }
        },
        "DCRImmutableId": {
            "type": "string",
            "metadata": {
                "description": "Immutable ID of the Data Collection Rule (e.g., dcr-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx)"
            }
        },
        "LogAnalyticsWorkspaceName": {
            "type": "string",
            "metadata": {
                "description": "Name of the Log Analytics workspace for deduplication queries"
            }
        }
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[concat('keyvault-', parameters('PlaybookName'))]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[concat('keyvault-', parameters('PlaybookName'))]",
                "parameterValueType": "Alternative",
                "alternativeParameterValues": {
                    "vaultName": "[parameters('KeyVaultName')]"
                },
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'keyvault')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[concat('azuremonitorlogs-', parameters('PlaybookName'))]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[concat('azuremonitorlogs-', parameters('PlaybookName'))]",
                "api": {
                    "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuremonitorlogs')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', concat('keyvault-', parameters('PlaybookName')))]",
                "[resourceId('Microsoft.Web/connections', concat('azuremonitorlogs-', parameters('PlaybookName')))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "type": "Object",
                            "defaultValue": {}
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "type": "Recurrence",
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 5
                            }
                        }
                    },
                    "actions": {
                        "Get_secret": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/secrets/@{encodeURIComponent(''', parameters('KeyVaultSecretName'), ''')}/value')]"
                            },
                            "runAfter": {},
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "inputs",
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "HTTP_-_Get_Token": {
                            "type": "Http",
                            "inputs": {
                                "uri": "[concat(parameters('CrowdStrikeBaseUrl'), '/oauth2/token')]",
                                "method": "POST",
                                "headers": {
                                    "Accept": "application/json",
                                    "Content-Type": "application/x-www-form-urlencoded"
                                },
                                "body": "[concat('client_id=', parameters('CrowdStrikeClientId'), '&client_secret=@{body(''Get_secret'')?[''value'']}')]"
                            },
                            "runAfter": {
                                "Get_secret": [
                                    "Succeeded"
                                ]
                            },
                            "runtimeConfiguration": {
                                "secureData": {
                                    "properties": [
                                        "inputs",
                                        "outputs"
                                    ]
                                }
                            }
                        },
                        "Parse_JSON_-_Access_Token": {
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('HTTP_-_Get_Token')",
                                "schema": {
                                    "properties": {
                                        "access_token": {
                                            "type": "string"
                                        },
                                        "expires_in": {
                                            "type": "integer"
                                        },
                                        "token_type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {
                                "HTTP_-_Get_Token": [
                                    "Succeeded"
                                ]
                            }
                        },
                        "HTTP_-_Get_Alert_IDs": {
                            "type": "Http",
                            "inputs": {
                                "uri": "[concat(parameters('CrowdStrikeBaseUrl'), '/alerts/queries/alerts/v1')]",
                                "method": "GET",
                                "headers": {
                                    "Accept": "application/json",
                                    "Authorization": "Bearer @{body('Parse_JSON_-_Access_Token')?['access_token']}"
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_-_Access_Token": [
                                    "Succeeded"
                                ]
                            },
                            "description": "Returns a list of alert IDs; complete alerts must be fetched individually"
                        },
                        "Run_query_and_list_results_V2_-_Check_for_new_entries": {
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "body": {
                                    "query": "let cs_ids = dynamic(@{body('HTTP_-_Get_Alert_IDs')?['resources']});\nlet cs_rows =\n    print composite_id_s = cs_ids\n    | mv-expand composite_id_s\n    | project composite_id_s = tostring(composite_id_s);\ncs_rows\n| join kind=leftanti (\n    CrowdStrike_Alerts_CL\n    | where TimeGenerated > ago(180d)\n) on composite_id_s\n| summarize value = make_set(composite_id_s)",
                                    "timerangetype": "3"
                                },
                                "path": "/queryDataV2",
                                "queries": {
                                            "resourcegroups": "[resourceGroup().name]",
                                            "resourcename": "[parameters('LogAnalyticsWorkspaceName')]",
                                            "resourcetype": "Log Analytics Workspace",
                                            "subscriptions": "[subscription().subscription]"
                                }
                            },
                            "runAfter": {
                                "HTTP_-_Get_Alert_IDs": [
                                    "Succeeded"
                                ]
                            },
                            "description": "Set exclusion - return CrowdStrike Alert IDs that are not present in the logs"
                        },
                        "Condition_-_Check_for_new_values": {
                            "type": "If",
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@body('Run_query_and_list_results_V2_-_Check_for_new_entries')?['value'][0]['value']",
                                                "[[]"
                                            ]
                                        }
                                    }
                                ]
                            },
                            "actions": {
                                "HTTP_-_Get_Complete_New_Alerts": {
                                    "type": "Http",
                                    "inputs": {
                                        "uri": "[concat(parameters('CrowdStrikeBaseUrl'), '/alerts/entities/alerts/v1')]",
                                        "method": "POST",
                                        "headers": {
                                            "Accept": "application/json",
                                            "Authorization": "Bearer @{body('Parse_JSON_-_Access_Token')?['access_token']}"
                                        },
                                        "body": {
                                            "ids": "@json(body('Run_query_and_list_results_V2_-_Check_for_new_entries')?['value'][0]['value'])"
                                        }
                                    }
                                },
                                "For_each_-_New_Alert": {
                                    "type": "Foreach",
                                    "foreach": "@body('HTTP_-_Get_Complete_New_Alerts')?['resources']",
                                    "actions": {
                                        "Compose_-_Flatten_Alert": {
                                            "type": "Compose",
                                            "inputs": {
                                                "TimeGenerated": "@{utcNow()}",
                                                "Severity": "@coalesce(items('For_each_-_New_Alert')?['severity'], 'null')",
                                                "adversary_ids_s": "@{string(coalesce(items('For_each_-_New_Alert')?['adversary_ids'], ''))}",
                                                "agent_id_g": "@{items('For_each_-_New_Alert')?['agent_id']}",
                                                "agent_scan_id_g": "@{items('For_each_-_New_Alert')?['agent_scan_id']}",
                                                "aggregate_id_s": "@{items('For_each_-_New_Alert')?['aggregate_id']}",
                                                "alleged_filetype_s": "@{items('For_each_-_New_Alert')?['alleged_filetype']}",
                                                "assigned_to_name_s": "@{items('For_each_-_New_Alert')?['assigned_to_name']}",
                                                "assigned_to_uid_s": "@{items('For_each_-_New_Alert')?['assigned_to_uid']}",
                                                "assigned_to_uuid_g": "@{items('For_each_-_New_Alert')?['assigned_to_uuid']}",
                                                "associated_files_s": "@{string(coalesce(items('For_each_-_New_Alert')?['associated_files'], ''))}",
                                                "author_s": "@{items('For_each_-_New_Alert')?['author']}",
                                                "child_process_ids_s": "@{string(coalesce(items('For_each_-_New_Alert')?['child_process_ids'], ''))}",
                                                "cid_g": "@{items('For_each_-_New_Alert')?['cid']}",
                                                "cloud_indicator_s": "@{items('For_each_-_New_Alert')?['cloud_indicator']}",
                                                "cmdline_s": "@{items('For_each_-_New_Alert')?['cmdline']}",
                                                "command_line_s": "@{items('For_each_-_New_Alert')?['command_line']}",
                                                "comment_s": "@{items('For_each_-_New_Alert')?['comment']}",
                                                "comments_s": "@{items('For_each_-_New_Alert')?['comments']}",
                                                "composite_id_s": "@{items('For_each_-_New_Alert')?['composite_id']}",
                                                "confidence_d": "@coalesce(items('For_each_-_New_Alert')?['confidence'], 'null')",
                                                "container_id_s": "@{items('For_each_-_New_Alert')?['container_id']}",
                                                "context_timestamp_t": "@{items('For_each_-_New_Alert')?['context_timestamp']}",
                                                "control_graph_id_s": "@{items('For_each_-_New_Alert')?['control_graph_id']}",
                                                "crawled_timestamp_t": "@{items('For_each_-_New_Alert')?['crawled_timestamp']}",
                                                "created_timestamp_t": "@{items('For_each_-_New_Alert')?['created_timestamp']}",
                                                "data_domains_s": "@{string(coalesce(items('For_each_-_New_Alert')?['data_domains'], ''))}",
                                                "description_s": "@{items('For_each_-_New_Alert')?['description']}",
                                                "detection_context_file_system_operation_type_d": "@coalesce(items('For_each_-_New_Alert')?['detection_context']?['file_system_operation_type'], 'null')",
                                                "detection_context_fs_operation_classification_d": "@coalesce(items('For_each_-_New_Alert')?['detection_context']?['fs_operation_classification'], 'null')",
                                                "detection_context_reg_object_name_s": "@{items('For_each_-_New_Alert')?['detection_context']?['reg_object_name']}",
                                                "detection_context_reg_operation_type_d": "@coalesce(items('For_each_-_New_Alert')?['detection_context']?['reg_operation_type'], 'null')",
                                                "detection_context_reg_string_value_s": "@{items('For_each_-_New_Alert')?['detection_context']?['reg_string_value']}",
                                                "detection_context_reg_type_d": "@coalesce(items('For_each_-_New_Alert')?['detection_context']?['reg_type'], 'null')",
                                                "detection_context_reg_value_name_s": "@{items('For_each_-_New_Alert')?['detection_context']?['reg_value_name']}",
                                                "detection_context_target_file_name_s": "@{items('For_each_-_New_Alert')?['detection_context']?['target_file_name']}",
                                                "device_agent_load_flags_s": "@{items('For_each_-_New_Alert')?['device']?['agent_load_flags']}",
                                                "device_agent_local_time_t": "@{items('For_each_-_New_Alert')?['device']?['agent_local_time']}",
                                                "device_agent_version_s": "@{items('For_each_-_New_Alert')?['device']?['agent_version']}",
                                                "device_bios_manufacturer_s": "@{items('For_each_-_New_Alert')?['device']?['bios_manufacturer']}",
                                                "device_bios_version_s": "@{items('For_each_-_New_Alert')?['device']?['bios_version']}",
                                                "device_cid_g": "@{items('For_each_-_New_Alert')?['device']?['cid']}",
                                                "device_config_id_base_s": "@{items('For_each_-_New_Alert')?['device']?['config_id_base']}",
                                                "device_config_id_build_s": "@{items('For_each_-_New_Alert')?['device']?['config_id_build']}",
                                                "device_config_id_platform_s": "@{items('For_each_-_New_Alert')?['device']?['config_id_platform']}",
                                                "device_device_id_g": "@{items('For_each_-_New_Alert')?['device']?['device_id']}",
                                                "device_external_ip_s": "@{items('For_each_-_New_Alert')?['device']?['external_ip']}",
                                                "device_external_ipv6_s": "@{items('For_each_-_New_Alert')?['device']?['external_ipv6']}",
                                                "device_first_seen_t": "@{items('For_each_-_New_Alert')?['device']?['first_seen']}",
                                                "device_groups_s": "@{string(coalesce(items('For_each_-_New_Alert')?['device']?['groups'], ''))}",
                                                "device_hostinfo_active_directory_dn_display_s": "@{string(coalesce(items('For_each_-_New_Alert')?['device']?['hostinfo']?['active_directory_dn_display'], ''))}",
                                                "device_hostinfo_domain_s": "@{items('For_each_-_New_Alert')?['device']?['hostinfo']?['domain']}",
                                                "device_hostname_s": "@{items('For_each_-_New_Alert')?['device']?['hostname']}",
                                                "device_instance_id_g": "@{items('For_each_-_New_Alert')?['device']?['instance_id']}",
                                                "device_last_seen_t": "@{items('For_each_-_New_Alert')?['device']?['last_seen']}",
                                                "device_local_ip_s": "@{items('For_each_-_New_Alert')?['device']?['local_ip']}",
                                                "device_mac_address_s": "@{items('For_each_-_New_Alert')?['device']?['mac_address']}",
                                                "device_machine_domain_s": "@{items('For_each_-_New_Alert')?['device']?['machine_domain']}",
                                                "device_major_version_s": "@{items('For_each_-_New_Alert')?['device']?['major_version']}",
                                                "device_minor_version_s": "@{items('For_each_-_New_Alert')?['device']?['minor_version']}",
                                                "device_modified_timestamp_t": "@{items('For_each_-_New_Alert')?['device']?['modified_timestamp']}",
                                                "device_os_version_s": "@{items('For_each_-_New_Alert')?['device']?['os_version']}",
                                                "device_ou_s": "@{string(coalesce(items('For_each_-_New_Alert')?['device']?['ou'], ''))}",
                                                "device_platform_id_s": "@{items('For_each_-_New_Alert')?['device']?['platform_id']}",
                                                "device_platform_name_s": "@{items('For_each_-_New_Alert')?['device']?['platform_name']}",
                                                "device_product_type_desc_s": "@{items('For_each_-_New_Alert')?['device']?['product_type_desc']}",
                                                "device_product_type_s": "@{items('For_each_-_New_Alert')?['device']?['product_type']}",
                                                "device_service_provider_account_id_g": "@{items('For_each_-_New_Alert')?['device']?['service_provider_account_id']}",
                                                "device_service_provider_s": "@{items('For_each_-_New_Alert')?['device']?['service_provider']}",
                                                "device_site_name_s": "@{items('For_each_-_New_Alert')?['device']?['site_name']}",
                                                "device_status_s": "@{items('For_each_-_New_Alert')?['device']?['status']}",
                                                "device_system_manufacturer_s": "@{items('For_each_-_New_Alert')?['device']?['system_manufacturer']}",
                                                "device_system_product_name_s": "@{items('For_each_-_New_Alert')?['device']?['system_product_name']}",
                                                "device_tags_s": "@{string(coalesce(items('For_each_-_New_Alert')?['device']?['tags'], ''))}",
                                                "display_name_s": "@{items('For_each_-_New_Alert')?['display_name']}",
                                                "dns_requests_s": "@{string(coalesce(items('For_each_-_New_Alert')?['dns_requests'], ''))}",
                                                "email_sent_b": "@coalesce(items('For_each_-_New_Alert')?['email_sent'], 'null')",
                                                "end_time_epoch_d": "@coalesce(items('For_each_-_New_Alert')?['end_time_epoch'], 'null')",
                                                "end_time_t": "@{items('For_each_-_New_Alert')?['end_time']}",
                                                "entities_agent_ids_s": "@{string(coalesce(items('For_each_-_New_Alert')?['entities']?['agent_ids'], ''))}",
                                                "entities_agent_ids_source_s": "@{items('For_each_-_New_Alert')?['entities']?['agent_ids_source']}",
                                                "entities_domain_s": "@{string(coalesce(items('For_each_-_New_Alert')?['entities']?['domain'], ''))}",
                                                "entities_file_name_s": "@{items('For_each_-_New_Alert')?['entities']?['file_name']}",
                                                "entities_image_file_name_s": "@{items('For_each_-_New_Alert')?['entities']?['image_file_name']}",
                                                "entities_ipv4_s": "@{string(coalesce(items('For_each_-_New_Alert')?['entities']?['ipv4'], ''))}",
                                                "entities_process_s": "@{items('For_each_-_New_Alert')?['entities']?['process']}",
                                                "entities_sha256_s": "@{string(coalesce(items('For_each_-_New_Alert')?['entities']?['sha256'], ''))}",
                                                "entities_user_sid_s": "@{string(coalesce(items('For_each_-_New_Alert')?['entities']?['user_sid'], ''))}",
                                                "entities_user_sid_source_s": "@{items('For_each_-_New_Alert')?['entities']?['user_sid_source']}",
                                                "entities_username_s": "@{string(coalesce(items('For_each_-_New_Alert')?['entities']?['username'], ''))}",
                                                "entities_username_source_s": "@{items('For_each_-_New_Alert')?['entities']?['username_source']}",
                                                "entity_values_agent_ids_s": "@{string(coalesce(items('For_each_-_New_Alert')?['entity_values']?['agent_ids'], ''))}",
                                                "entity_values_domain_names_s": "@{string(coalesce(items('For_each_-_New_Alert')?['entity_values']?['domain_names'], ''))}",
                                                "entity_values_ipv4s_s": "@{string(coalesce(items('For_each_-_New_Alert')?['entity_values']?['ipv4s'], ''))}",
                                                "entity_values_sha256s_s": "@{string(coalesce(items('For_each_-_New_Alert')?['entity_values']?['sha256s'], ''))}",
                                                "entity_values_user_sids_s": "@{string(coalesce(items('For_each_-_New_Alert')?['entity_values']?['user_sids'], ''))}",
                                                "entity_values_users_s": "@{string(coalesce(items('For_each_-_New_Alert')?['entity_values']?['users'], ''))}",
                                                "event_correlation_id_g": "@{items('For_each_-_New_Alert')?['event_correlation_id']}",
                                                "event_id_g": "@{items('For_each_-_New_Alert')?['event_id']}",
                                                "executables_written_s": "@{string(coalesce(items('For_each_-_New_Alert')?['executables_written'], ''))}",
                                                "external_b": "@coalesce(items('For_each_-_New_Alert')?['external'], 'null')",
                                                "falcon_host_link_s": "@{items('For_each_-_New_Alert')?['falcon_host_link']}",
                                                "file_writes_s": "@{string(coalesce(items('For_each_-_New_Alert')?['file_writes'], ''))}",
                                                "filename_s": "@{items('For_each_-_New_Alert')?['filename']}",
                                                "filepath_s": "@{items('For_each_-_New_Alert')?['filepath']}",
                                                "files_accessed_s": "@{string(coalesce(items('For_each_-_New_Alert')?['files_accessed'], ''))}",
                                                "files_written_s": "@{string(coalesce(items('For_each_-_New_Alert')?['files_written'], ''))}",
                                                "global_prevalence_s": "@{items('For_each_-_New_Alert')?['global_prevalence']}",
                                                "grandparent_details_cmdline_s": "@{items('For_each_-_New_Alert')?['grandparent_details']?['cmdline']}",
                                                "grandparent_details_filename_s": "@{items('For_each_-_New_Alert')?['grandparent_details']?['filename']}",
                                                "grandparent_details_filepath_s": "@{items('For_each_-_New_Alert')?['grandparent_details']?['filepath']}",
                                                "grandparent_details_local_process_id_s": "@{items('For_each_-_New_Alert')?['grandparent_details']?['local_process_id']}",
                                                "grandparent_details_md5_g": "@{items('For_each_-_New_Alert')?['grandparent_details']?['md5']}",
                                                "grandparent_details_process_graph_id_s": "@{items('For_each_-_New_Alert')?['grandparent_details']?['process_graph_id']}",
                                                "grandparent_details_process_id_s": "@{items('For_each_-_New_Alert')?['grandparent_details']?['process_id']}",
                                                "grandparent_details_sha256_s": "@{items('For_each_-_New_Alert')?['grandparent_details']?['sha256']}",
                                                "grandparent_details_timestamp_t": "@{items('For_each_-_New_Alert')?['grandparent_details']?['timestamp']}",
                                                "grandparent_details_user_graph_id_s": "@{items('For_each_-_New_Alert')?['grandparent_details']?['user_graph_id']}",
                                                "grandparent_details_user_id_s": "@{items('For_each_-_New_Alert')?['grandparent_details']?['user_id']}",
                                                "grandparent_details_user_name_s": "@{items('For_each_-_New_Alert')?['grandparent_details']?['user_name']}",
                                                "has_adversary_b": "@coalesce(items('For_each_-_New_Alert')?['has_adversary'], 'null')",
                                                "host_name_s": "@{items('For_each_-_New_Alert')?['host_name']}",
                                                "host_names_s": "@{string(coalesce(items('For_each_-_New_Alert')?['host_names'], ''))}",
                                                "host_url_s": "@{items('For_each_-_New_Alert')?['host_url']}",
                                                "id_s": "@{items('For_each_-_New_Alert')?['id']}",
                                                "incident_created_t": "@{items('For_each_-_New_Alert')?['incident_created']}",
                                                "incident_created_time_t": "@{items('For_each_-_New_Alert')?['incident_created_time']}",
                                                "incident_end_t": "@{items('For_each_-_New_Alert')?['incident_end']}",
                                                "incident_end_time_t": "@{items('For_each_-_New_Alert')?['incident_end_time']}",
                                                "incident_highest_score_s": "@{items('For_each_-_New_Alert')?['incident_highest_score']}",
                                                "incident_host_ids_s": "@{string(coalesce(items('For_each_-_New_Alert')?['incident_host_ids'], ''))}",
                                                "incident_id_s": "@{items('For_each_-_New_Alert')?['incident_id']}",
                                                "incident_score_s": "@{items('For_each_-_New_Alert')?['incident_score']}",
                                                "incident_start_t": "@{items('For_each_-_New_Alert')?['incident_start']}",
                                                "incident_start_time_t": "@{items('For_each_-_New_Alert')?['incident_start_time']}",
                                                "incident_state_s": "@{items('For_each_-_New_Alert')?['incident_state']}",
                                                "incident_type_s": "@{items('For_each_-_New_Alert')?['incident_type']}",
                                                "incident_version_d": "@coalesce(items('For_each_-_New_Alert')?['incident_version'], 'null')",
                                                "indicator_id_s": "@{items('For_each_-_New_Alert')?['indicator_id']}",
                                                "ioc_context_s": "@{string(coalesce(items('For_each_-_New_Alert')?['ioc_context'], ''))}",
                                                "ioc_description_s": "@{items('For_each_-_New_Alert')?['ioc_description']}",
                                                "ioc_source_s": "@{items('For_each_-_New_Alert')?['ioc_source']}",
                                                "ioc_type_s": "@{items('For_each_-_New_Alert')?['ioc_type']}",
                                                "ioc_value_s": "@{items('For_each_-_New_Alert')?['ioc_value']}",
                                                "is_closed_b": "@coalesce(items('For_each_-_New_Alert')?['is_closed'], 'null')",
                                                "lead_id_s": "@{items('For_each_-_New_Alert')?['lead_id']}",
                                                "lead_type_s": "@{items('For_each_-_New_Alert')?['lead_type']}",
                                                "local_prevalence_s": "@{items('For_each_-_New_Alert')?['local_prevalence']}",
                                                "local_process_id_s": "@{items('For_each_-_New_Alert')?['local_process_id']}",
                                                "logon_domain_s": "@{items('For_each_-_New_Alert')?['logon_domain']}",
                                                "md5_g": "@{items('For_each_-_New_Alert')?['md5']}",
                                                "mitre_attack_s": "@{string(coalesce(items('For_each_-_New_Alert')?['mitre_attack'], ''))}",
                                                "name_s": "@{items('For_each_-_New_Alert')?['name']}",
                                                "network_accesses_s": "@{string(coalesce(items('For_each_-_New_Alert')?['network_accesses'], ''))}",
                                                "no_signal_b": "@coalesce(items('For_each_-_New_Alert')?['no_signal'], 'null')",
                                                "objective_s": "@{items('For_each_-_New_Alert')?['objective']}",
                                                "os_name_s": "@{items('For_each_-_New_Alert')?['os_name']}",
                                                "overwatch_note_s": "@{items('For_each_-_New_Alert')?['overwatch_note']}",
                                                "parent_details_cmdline_s": "@{items('For_each_-_New_Alert')?['parent_details']?['cmdline']}",
                                                "parent_details_filename_s": "@{items('For_each_-_New_Alert')?['parent_details']?['filename']}",
                                                "parent_details_filepath_s": "@{items('For_each_-_New_Alert')?['parent_details']?['filepath']}",
                                                "parent_details_local_process_id_s": "@{items('For_each_-_New_Alert')?['parent_details']?['local_process_id']}",
                                                "parent_details_md5_g": "@{items('For_each_-_New_Alert')?['parent_details']?['md5']}",
                                                "parent_details_process_graph_id_s": "@{items('For_each_-_New_Alert')?['parent_details']?['process_graph_id']}",
                                                "parent_details_process_id_s": "@{items('For_each_-_New_Alert')?['parent_details']?['process_id']}",
                                                "parent_details_sha256_s": "@{items('For_each_-_New_Alert')?['parent_details']?['sha256']}",
                                                "parent_details_timestamp_t": "@{items('For_each_-_New_Alert')?['parent_details']?['timestamp']}",
                                                "parent_details_user_graph_id_s": "@{items('For_each_-_New_Alert')?['parent_details']?['user_graph_id']}",
                                                "parent_details_user_id_s": "@{items('For_each_-_New_Alert')?['parent_details']?['user_id']}",
                                                "parent_details_user_name_s": "@{items('For_each_-_New_Alert')?['parent_details']?['user_name']}",
                                                "parent_process_id_s": "@{items('For_each_-_New_Alert')?['parent_process_id']}",
                                                "pattern_disposition_d": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition'], 'null')",
                                                "pattern_disposition_description_s": "@{items('For_each_-_New_Alert')?['pattern_disposition_description']}",
                                                "pattern_disp_details_blocking_unsupported_or_disabled_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['blocking_unsupported_or_disabled'], 'null')",
                                                "pattern_disposition_details_bootup_safeguard_enabled_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['bootup_safeguard_enabled'], 'null')",
                                                "pattern_disposition_details_containment_file_system_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['containment_file_system'], 'null')",
                                                "pattern_disposition_details_critical_process_disabled_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['critical_process_disabled'], 'null')",
                                                "pattern_disposition_details_detect_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['detect'], 'null')",
                                                "pattern_disposition_details_fs_operation_blocked_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['fs_operation_blocked'], 'null')",
                                                "pattern_disposition_details_handle_operation_downgraded_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['handle_operation_downgraded'], 'null')",
                                                "pattern_disposition_details_inddet_mask_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['inddet_mask'], 'null')",
                                                "pattern_disposition_details_indicator_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['indicator'], 'null')",
                                                "pattern_disposition_details_kill_action_failed_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['kill_action_failed'], 'null')",
                                                "pattern_disposition_details_kill_parent_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['kill_parent'], 'null')",
                                                "pattern_disposition_details_kill_process_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['kill_process'], 'null')",
                                                "pattern_disposition_details_kill_subprocess_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['kill_subprocess'], 'null')",
                                                "pattern_disposition_details_mfa_required_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['mfa_required'], 'null')",
                                                "pattern_disposition_details_operation_blocked_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['operation_blocked'], 'null')",
                                                "pattern_disposition_details_policy_disabled_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['policy_disabled'], 'null')",
                                                "pattern_disp_details_prevention_provisioning_enabled_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['prevention_provisioning_enabled'], 'null')",
                                                "pattern_disposition_details_process_blocked_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['process_blocked'], 'null')",
                                                "pattern_disposition_details_quarantine_file_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['quarantine_file'], 'null')",
                                                "pattern_disposition_details_quarantine_machine_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['quarantine_machine'], 'null')",
                                                "pattern_disposition_details_registry_operation_blocked_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['registry_operation_blocked'], 'null')",
                                                "pattern_disp_details_response_action_already_applied_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['response_action_already_applied'], 'null')",
                                                "pattern_disposition_details_response_action_failed_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['response_action_failed'], 'null')",
                                                "pattern_disposition_details_response_action_triggered_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['response_action_triggered'], 'null')",
                                                "pattern_disposition_details_rooting_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['rooting'], 'null')",
                                                "pattern_disposition_details_sensor_only_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['sensor_only'], 'null')",
                                                "pattern_disposition_details_suspend_parent_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['suspend_parent'], 'null')",
                                                "pattern_disposition_details_suspend_process_b": "@coalesce(items('For_each_-_New_Alert')?['pattern_disposition_details']?['suspend_process'], 'null')",
                                                "pattern_id_d": "@coalesce(items('For_each_-_New_Alert')?['pattern_id'], 'null')",
                                                "platform_s": "@{items('For_each_-_New_Alert')?['platform']}",
                                                "poly_id_s": "@{items('For_each_-_New_Alert')?['poly_id']}",
                                                "priority_details_raw_value_d": "@coalesce(items('For_each_-_New_Alert')?['priority_details']?['raw_value'], 'null')",
                                                "priority_explanation_s": "@{string(coalesce(items('For_each_-_New_Alert')?['priority_explanation'], ''))}",
                                                "priority_value_d": "@coalesce(items('For_each_-_New_Alert')?['priority_value'], 'null')",
                                                "process_end_time_s": "@{items('For_each_-_New_Alert')?['process_end_time']}",
                                                "process_id_s": "@{items('For_each_-_New_Alert')?['process_id']}",
                                                "process_start_time_s": "@{items('For_each_-_New_Alert')?['process_start_time']}",
                                                "product_s": "@{items('For_each_-_New_Alert')?['product']}",
                                                "quarantined_b": "@coalesce(items('For_each_-_New_Alert')?['quarantined'], 'null')",
                                                "quarantined_files_s": "@{string(coalesce(items('For_each_-_New_Alert')?['quarantined_files'], ''))}",
                                                "references_indicator_alert_ids_s": "@{string(coalesce(items('For_each_-_New_Alert')?['references']?['indicator_alert_ids'], ''))}",
                                                "references_indicator_detection_ids_s": "@{string(coalesce(items('For_each_-_New_Alert')?['references']?['indicator_detection_ids'], ''))}",
                                                "references_indicator_vertex_ids_s": "@{string(coalesce(items('For_each_-_New_Alert')?['references']?['indicator_vertex_ids'], ''))}",
                                                "references_source_vertex_id_s": "@{items('For_each_-_New_Alert')?['references']?['source_vertex_id']}",
                                                "references_source_vertex_type_s": "@{items('For_each_-_New_Alert')?['references']?['source_vertex_type']}",
                                                "references_xdr_indicator_ids_s": "@{string(coalesce(items('For_each_-_New_Alert')?['references']?['xdr_indicator_ids'], ''))}",
                                                "references_xdr_source_event_id_g": "@{items('For_each_-_New_Alert')?['references']?['xdr_source_event_id']}",
                                                "referrer_url_s": "@{items('For_each_-_New_Alert')?['referrer_url']}",
                                                "resolution_s": "@{items('For_each_-_New_Alert')?['resolution']}",
                                                "scan_id_g": "@{items('For_each_-_New_Alert')?['scan_id']}",
                                                "scenario_s": "@{items('For_each_-_New_Alert')?['scenario']}",
                                                "score_d": "@coalesce(items('For_each_-_New_Alert')?['score'], 'null')",
                                                "seconds_to_resolved_d": "@coalesce(items('For_each_-_New_Alert')?['seconds_to_resolved'], 'null')",
                                                "seconds_to_triaged_d": "@coalesce(items('For_each_-_New_Alert')?['seconds_to_triaged'], 'null')",
                                                "severity_name_s": "@{items('For_each_-_New_Alert')?['severity_name']}",
                                                "sha1_s": "@{items('For_each_-_New_Alert')?['sha1']}",
                                                "sha256_s": "@{items('For_each_-_New_Alert')?['sha256']}",
                                                "show_in_ui_b": "@coalesce(items('For_each_-_New_Alert')?['show_in_ui'], 'null')",
                                                "signal_end_timestamp_t": "@{items('For_each_-_New_Alert')?['signal_end_timestamp']}",
                                                "signal_start_timestamp_t": "@{items('For_each_-_New_Alert')?['signal_start_timestamp']}",
                                                "signal_updated_timestamp_t": "@{items('For_each_-_New_Alert')?['signal_updated_timestamp']}",
                                                "source_account_name_s": "@{items('For_each_-_New_Alert')?['source_account_name']}",
                                                "source_event_model_s": "@{items('For_each_-_New_Alert')?['source_event_model']}",
                                                "source_hosts_s": "@{string(coalesce(items('For_each_-_New_Alert')?['source_hosts'], ''))}",
                                                "source_products_s": "@{string(coalesce(items('For_each_-_New_Alert')?['source_products'], ''))}",
                                                "source_vendors_s": "@{string(coalesce(items('For_each_-_New_Alert')?['source_vendors'], ''))}",
                                                "start_time_epoch_d": "@coalesce(items('For_each_-_New_Alert')?['start_time_epoch'], 'null')",
                                                "start_time_t": "@{items('For_each_-_New_Alert')?['start_time']}",
                                                "status_s": "@{items('For_each_-_New_Alert')?['status']}",
                                                "tactic_id_s": "@{items('For_each_-_New_Alert')?['tactic_id']}",
                                                "tactic_ids_s": "@{string(coalesce(items('For_each_-_New_Alert')?['tactic_ids'], ''))}",
                                                "tactic_s": "@{items('For_each_-_New_Alert')?['tactic']}",
                                                "tactics_s": "@{string(coalesce(items('For_each_-_New_Alert')?['tactics'], ''))}",
                                                "tags_s": "@{string(coalesce(items('For_each_-_New_Alert')?['tags'], ''))}",
                                                "technique_id_s": "@{items('For_each_-_New_Alert')?['technique_id']}",
                                                "technique_ids_s": "@{string(coalesce(items('For_each_-_New_Alert')?['technique_ids'], ''))}",
                                                "technique_s": "@{items('For_each_-_New_Alert')?['technique']}",
                                                "techniques_s": "@{string(coalesce(items('For_each_-_New_Alert')?['techniques'], ''))}",
                                                "template_instance_id_s": "@{items('For_each_-_New_Alert')?['template_instance_id']}",
                                                "template_instance_version_s": "@{items('For_each_-_New_Alert')?['template_instance_version']}",
                                                "template_interface_id_d": "@coalesce(items('For_each_-_New_Alert')?['template_interface_id'], 'null')",
                                                "template_interface_name_s": "@{items('For_each_-_New_Alert')?['template_interface_name']}",
                                                "threatgraph_indicators_s": "@{string(coalesce(items('For_each_-_New_Alert')?['threatgraph_indicators'], ''))}",
                                                "timestamp_t": "@{items('For_each_-_New_Alert')?['timestamp']}",
                                                "tree_id_s": "@{items('For_each_-_New_Alert')?['tree_id']}",
                                                "tree_root_s": "@{items('For_each_-_New_Alert')?['tree_root']}",
                                                "triggering_process_graph_id_s": "@{items('For_each_-_New_Alert')?['triggering_process_graph_id']}",
                                                "type_s": "@{items('For_each_-_New_Alert')?['type']}",
                                                "updated_timestamp_t": "@{items('For_each_-_New_Alert')?['updated_timestamp']}",
                                                "user_id_s": "@{items('For_each_-_New_Alert')?['user_id']}",
                                                "user_name_s": "@{items('For_each_-_New_Alert')?['user_name']}",
                                                "user_principal_s": "@{items('For_each_-_New_Alert')?['user_principal']}",
                                                "xdr_detection_id_s": "@{items('For_each_-_New_Alert')?['xdr_detection_id']}",
                                                "xdr_pattern_id_d": "@coalesce(items('For_each_-_New_Alert')?['xdr_pattern_id'], 'null')",
                                                "xdr_rule_id_d": "@coalesce(items('For_each_-_New_Alert')?['xdr_rule_id'], 'null')",
                                                "xdr_type_s": "@{items('For_each_-_New_Alert')?['xdr_type']}",
                                                "image_file_name_s": "@{items('For_each_-_New_Alert')?['image_file_name']}",
                                                "behaviors_s": "@{string(coalesce(items('For_each_-_New_Alert')?['behaviors'], ''))}",
                                                "behavior_id_s": "@{items('For_each_-_New_Alert')?['behavior_id']}",
                                                "behavior_name_s": "@{items('For_each_-_New_Alert')?['behavior_name']}",
                                                "ioc_id_s": "@{items('For_each_-_New_Alert')?['ioc_id']}",
                                                "ioc_source_rating_s": "@{items('For_each_-_New_Alert')?['ioc_source_rating']}",
                                                "device_kernel_version_s": "@{items('For_each_-_New_Alert')?['device']?['kernel_version']}",
                                                "device_chassis_type_s": "@{items('For_each_-_New_Alert')?['device']?['chassis_type']}",
                                                "device_chassis_type_desc_s": "@{items('For_each_-_New_Alert')?['device']?['chassis_type_desc']}",
                                                "device_connection_ip_s": "@{items('For_each_-_New_Alert')?['device']?['connection_ip']}",
                                                "device_default_gateway_ip_s": "@{items('For_each_-_New_Alert')?['device']?['default_gateway_ip']}",
                                                "device_connection_mac_address_s": "@{items('For_each_-_New_Alert')?['device']?['connection_mac_address']}",
                                                "device_cpu_signature_s": "@{items('For_each_-_New_Alert')?['device']?['cpu_signature']}",
                                                "device_reduced_functionality_mode_s": "@{items('For_each_-_New_Alert')?['device']?['reduced_functionality_mode']}",
                                                "device_pointer_size_s": "@{items('For_each_-_New_Alert')?['device']?['pointer_size']}",
                                                "device_build_number_s": "@{items('For_each_-_New_Alert')?['device']?['build_number']}",
                                                "device_serial_number_s": "@{items('For_each_-_New_Alert')?['device']?['serial_number']}",
                                                "device_linux_sensor_mode_s": "@{items('For_each_-_New_Alert')?['device']?['linux_sensor_mode']}",
                                                "device_deployment_type_s": "@{items('For_each_-_New_Alert')?['device']?['deployment_type']}",
                                                "identity_domain_s": "@{items('For_each_-_New_Alert')?['identity_domain']}",
                                                "identity_upn_s": "@{items('For_each_-_New_Alert')?['identity_upn']}",
                                                "identity_account_type_s": "@{items('For_each_-_New_Alert')?['identity_account_type']}",
                                                "identity_sam_account_name_s": "@{items('For_each_-_New_Alert')?['identity_sam_account_name']}",
                                                "authentication_method_s": "@{items('For_each_-_New_Alert')?['authentication_method']}",
                                                "login_type_s": "@{items('For_each_-_New_Alert')?['login_type']}",
                                                "source_endpoint_ip_s": "@{items('For_each_-_New_Alert')?['source_endpoint_ip']}",
                                                "destination_endpoint_s": "@{items('For_each_-_New_Alert')?['destination_endpoint']}",
                                                "process_graph_id_s": "@{items('For_each_-_New_Alert')?['process_graph_id']}",
                                                "user_graph_id_s": "@{items('For_each_-_New_Alert')?['user_graph_id']}",
                                                "target_process_id_s": "@{items('For_each_-_New_Alert')?['target_process_id']}",
                                                "target_command_line_s": "@{items('For_each_-_New_Alert')?['target_command_line']}",
                                                "integrity_level_s": "@{items('For_each_-_New_Alert')?['integrity_level']}",
                                                "image_digest_s": "@{items('For_each_-_New_Alert')?['image_digest']}",
                                                "script_content_s": "@{items('For_each_-_New_Alert')?['script_content']}",
                                                "local_port_d": "@coalesce(items('For_each_-_New_Alert')?['local_port'], 'null')",
                                                "remote_port_d": "@coalesce(items('For_each_-_New_Alert')?['remote_port'], 'null')",
                                                "remote_address_s": "@{items('For_each_-_New_Alert')?['remote_address']}",
                                                "remote_address_v6_s": "@{items('For_each_-_New_Alert')?['remote_address_v6']}",
                                                "protocol_s": "@{items('For_each_-_New_Alert')?['protocol']}",
                                                "connection_direction_s": "@{items('For_each_-_New_Alert')?['connection_direction']}",
                                                "icmp_code_s": "@{items('For_each_-_New_Alert')?['icmp_code']}",
                                                "icmp_type_s": "@{items('For_each_-_New_Alert')?['icmp_type']}",
                                                "local_address_s": "@{items('For_each_-_New_Alert')?['local_address']}",
                                                "parent_sha256_s": "@{items('For_each_-_New_Alert')?['parent_sha256']}",
                                                "parent_md5_s": "@{items('For_each_-_New_Alert')?['parent_md5']}",
                                                "grandparent_sha256_s": "@{items('For_each_-_New_Alert')?['grandparent_sha256']}",
                                                "image_sha256_s": "@{items('For_each_-_New_Alert')?['image_sha256']}",
                                                "ssdeep_s": "@{items('For_each_-_New_Alert')?['ssdeep']}",
                                                "imphash_s": "@{items('For_each_-_New_Alert')?['imphash']}",
                                                "file_size_d": "@coalesce(items('For_each_-_New_Alert')?['file_size'], 'null')",
                                                "file_version_s": "@{items('For_each_-_New_Alert')?['file_version']}",
                                                "file_description_s": "@{items('For_each_-_New_Alert')?['file_description']}",
                                                "company_name_s": "@{items('For_each_-_New_Alert')?['company_name']}",
                                                "product_name_s": "@{items('For_each_-_New_Alert')?['product_name']}",
                                                "original_filename_s": "@{items('For_each_-_New_Alert')?['original_filename']}",
                                                "cloud_provider_s": "@{items('For_each_-_New_Alert')?['cloud_provider']}",
                                                "cloud_account_id_s": "@{items('For_each_-_New_Alert')?['cloud_account_id']}",
                                                "cloud_region_s": "@{items('For_each_-_New_Alert')?['cloud_region']}",
                                                "cloud_instance_id_s": "@{items('For_each_-_New_Alert')?['cloud_instance_id']}",
                                                "cloud_instance_type_s": "@{items('For_each_-_New_Alert')?['cloud_instance_type']}",
                                                "container_name_s": "@{items('For_each_-_New_Alert')?['container_name']}",
                                                "container_image_s": "@{items('For_each_-_New_Alert')?['container_image']}",
                                                "container_image_id_s": "@{items('For_each_-_New_Alert')?['container_image_id']}",
                                                "pod_name_s": "@{items('For_each_-_New_Alert')?['pod_name']}",
                                                "pod_namespace_s": "@{items('For_each_-_New_Alert')?['pod_namespace']}",
                                                "cluster_name_s": "@{items('For_each_-_New_Alert')?['cluster_name']}",
                                                "xdr_severity_d": "@coalesce(items('For_each_-_New_Alert')?['xdr_severity'], 'null')",
                                                "xdr_category_s": "@{items('For_each_-_New_Alert')?['xdr_category']}",
                                                "xdr_source_s": "@{items('For_each_-_New_Alert')?['xdr_source']}",
                                                "correlation_rule_id_s": "@{items('For_each_-_New_Alert')?['correlation_rule_id']}",
                                                "correlation_rule_name_s": "@{items('For_each_-_New_Alert')?['correlation_rule_name']}",
                                                "mobile_device_model_s": "@{items('For_each_-_New_Alert')?['mobile_device_model']}",
                                                "mobile_os_version_s": "@{items('For_each_-_New_Alert')?['mobile_os_version']}",
                                                "zero_trust_assessment_score_d": "@coalesce(items('For_each_-_New_Alert')?['zero_trust_assessment_score'], 'null')",
                                                "zero_trust_assessment_aid_g": "@{items('For_each_-_New_Alert')?['zero_trust_assessment_aid']}",
                                                "first_behavior_timestamp_t": "@{items('For_each_-_New_Alert')?['first_behavior_timestamp']}",
                                                "last_behavior_timestamp_t": "@{items('For_each_-_New_Alert')?['last_behavior_timestamp']}",
                                                "detection_timestamp_t": "@{items('For_each_-_New_Alert')?['detection_timestamp']}",
                                                "alert_timestamp_t": "@{items('For_each_-_New_Alert')?['alert_timestamp']}",
                                                "workflow_status_s": "@{items('For_each_-_New_Alert')?['workflow_status']}",
                                                "workflow_is_closed_b": "@coalesce(items('For_each_-_New_Alert')?['workflow_is_closed'], 'null')",
                                                "workflow_closure_reason_s": "@{items('For_each_-_New_Alert')?['workflow_closure_reason']}",
                                                "workflow_assigned_to_s": "@{items('For_each_-_New_Alert')?['workflow_assigned_to']}",
                                                "sla_breached_b": "@coalesce(items('For_each_-_New_Alert')?['sla_breached'], 'null')",
                                                "sla_due_timestamp_t": "@{items('For_each_-_New_Alert')?['sla_due_timestamp']}",
                                                "mitre_tactic_name_s": "@{items('For_each_-_New_Alert')?['mitre_tactic_name']}",
                                                "mitre_technique_name_s": "@{items('For_each_-_New_Alert')?['mitre_technique_name']}",
                                                "mitre_subtechnique_id_s": "@{items('For_each_-_New_Alert')?['mitre_subtechnique_id']}",
                                                "mitre_subtechnique_name_s": "@{items('For_each_-_New_Alert')?['mitre_subtechnique_name']}",
                                                "kill_chain_phase_s": "@{items('For_each_-_New_Alert')?['kill_chain_phase']}",
                                                "RawJson_s": "@{string(items('For_each_-_New_Alert'))}"
                                            }
                                        },
                                        "HTTP_-_Send_To_DCR": {
                                            "type": "Http",
                                            "inputs": {
                                                "uri": "[concat(parameters('DCELogsIngestionEndpoint'), '/dataCollectionRules/', parameters('DCRImmutableId'), '/streams/Custom-CrowdStrike_Alerts_CL?api-version=2023-01-01')]",
                                                "method": "POST",
                                                "headers": {
                                                    "Content-Type": "application/json"
                                                },
                                                "body": [
                                                    "@outputs('Compose_-_Flatten_Alert')"
                                                ],
                                                "authentication": {
                                                    "type": "ManagedServiceIdentity",
                                                    "audience": "https://monitor.azure.com"
                                                }
                                            },
                                            "runAfter": {
                                                "Compose_-_Flatten_Alert": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "runtimeConfiguration": {
                                                "contentTransfer": {
                                                    "transferMode": "Chunked"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "HTTP_-_Get_Complete_New_Alerts": [
                                            "Succeeded"
                                        ]
                                    }
                                }
                            },
                            "else": {
                                "actions": {}
                            },
                            "runAfter": {
                                "Run_query_and_list_results_V2_-_Check_for_new_entries": [
                                    "Succeeded"
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "keyvault": {
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'keyvault')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', concat('keyvault-', parameters('PlaybookName')))]",
                                "connectionName": "[concat('keyvault-', parameters('PlaybookName'))]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "azuremonitorlogs": {
                                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', resourceGroup().location, 'azuremonitorlogs')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', concat('azuremonitorlogs-', parameters('PlaybookName')))]",
                                "connectionName": "[concat('azuremonitorlogs-', parameters('PlaybookName'))]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {
        "logicAppName": {
            "type": "string",
            "value": "[parameters('PlaybookName')]"
        },
        "logicAppResourceId": {
            "type": "string",
            "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
        },
        "managedIdentityPrincipalId": {
            "type": "string",
            "value": "[reference(resourceId('Microsoft.Logic/workflows', parameters('PlaybookName')), '2017-07-01', 'full').identity.principalId]"
        }
    }
}